h2{
    text-align: center;
}
div{
    margin: auto;
    text-align: center;
    color: black;
    background-color: beige;
    font-family: 'Tilt Prism', cursive;
    
}
body{
    background-color:rgb(209, 209, 92);
}
.btn{
    display: inline-block;
    font-family: 'Tilt Prism', cursive;
    color:black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 80%;
    margin-bottom: 30px;
    background-color: rgb(220, 235, 62);
}
.btn:hover, .card:hover {
    background-color:rgb(107, 110, 14);
  }
