h2{
    text-align: center;
}
div{
    margin: auto;
    text-align: center;
    color: black;
    background-color: rgb(224, 83, 83);
    font-family: 'Tilt Prism', cursive;
    
}
body{
    background-color:rgb(184, 48, 48);
}
.btn{
    display: inline-block;
    font-family: 'Tilt Prism', cursive;
    color:black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 80%;
    margin-bottom: 30px;
    background-color: rgb(213, 33, 33);
}
.btn:hover, .card:hover {
    background-color:rgb(107, 21, 21);
  }
