h2{
    text-align: center;
}
div{
    margin: auto;
    text-align: center;
    color: black;
    background-color: rgb(4, 255, 192);
    font-family: 'Tilt Prism', cursive;
    
}
body{
    background-color:rgb(66, 210, 165);
}
.btn{
    display: inline-block;
    font-family: 'Tilt Prism', cursive;
    color:black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 80%;
    margin-bottom: 30px;
    background-color: rgb(35, 161, 130);
}
.btn:hover, .card:hover {
    background-color:rgb(21, 92, 67);
  }
